<h1 class="text-center">Questions Listing</h1>
<div class="container" fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-form-field appearance="outline">
    <mat-icon matSuffix>stars</mat-icon>
    <mat-label>Select a Subject:</mat-label>
    <mat-select #subjectSelector [disabled]="descriptors.length == 0" (selectionChange)="onSubjectChange()">
      <mat-option *ngFor="let sub of descriptors" [value]="sub.subject">
        {{sub.subject}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-icon matSuffix>category</mat-icon>
    <mat-label>Select a Category</mat-label>
    <mat-select #categorySelector [disabled]="subjectSelector.value == undefined"
                (selectionChange)="onCategoryChange()">
      <mat-option value="All">All</mat-option>
      <ng-container *ngIf="subjectSelector.value !== undefined">
      <mat-option *ngFor="let cat of getDescriptorBySubject(subjectSelector.value).categories" [value]="cat">
        {{cat}}
      </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
</div>
<div class="mat-elevation-z8 container-table">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Subject's Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
    <!-- AnswerType Column -->
    <ng-container matColumnDef="answerType">
      <th mat-header-cell *matHeaderCellDef> Answer Type</th>
      <td mat-cell *matCellDef="let element"> {{element.answerTypology}} </td>
    </ng-container>
    <!-- View Column -->
    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef class="text-center">
        <mat-icon>visibility</mat-icon>
      </th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <button mat-raised-button color="primary"
                (click)="viewQuestion(element._id)">View
        </button>
      </td>
    </ng-container>
    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef class="text-center">
        <mat-icon>edit</mat-icon>
      </th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <button mat-raised-button color="accent"
                [routerLink]="['../editor', element._id]">Edit
        </button>
      </td>
    </ng-container>
    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef class="text-center">
        <mat-icon>delete</mat-icon>
      </th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <button mat-raised-button color="warn"
                (click)="deleteQuestion(element.title, element._id)">Delete
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator
    [length]="dataSource?.data?.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 15, 20]">
  </mat-paginator>
</div>
