<mat-toolbar class="mat-elevation-z12" color="primary">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    ExamGen Dashboard
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z12">
        <mat-accordion>
            <mat-expansion-panel (opened)="buttonsPanelToggle = true" (closed)="buttonsPanelToggle = false" [expanded]=true>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <button mat-button class="menu-button">
                            <mat-icon>stars</mat-icon>
                            <span>Questions</span>
                        </button>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <button mat-button class="menu-button">
                    <mat-icon>stars</mat-icon>
                    <span>Questions</span>
                </button>
                <button mat-button class="menu-button">
                    <mat-icon>stars</mat-icon>
                    <span>Questions</span>
                </button>
                <button mat-button class="menu-button">
                    <mat-icon>stars</mat-icon>
                    <span>Questions</span>
                </button>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="buttonsPanelToggle = true" (closed)="buttonsPanelToggle = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <button mat-button class="menu-button">
                            <mat-icon>assignment</mat-icon>
                            <span>Exams</span>
                        </button>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <button mat-button class="menu-button">
                    <mat-icon>stars</mat-icon>
                    <span>Questions</span>
                </button>
                <button mat-button class="menu-button">
                    <mat-icon>stars</mat-icon>
                    <span>Questions</span>
                </button>
                <button mat-button class="menu-button">
                    <mat-icon>stars</mat-icon>
                    <span>Questions</span>
                </button>
                <button mat-button class="menu-button" [routerLinkActive]="['active-link']" [routerLink]="['about']">
                    <mat-icon>info</mat-icon>
                    <span>About</span>
                </button>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" [routerLinkActive]="['active-link']" [routerLink]="['about']">
            <mat-icon>info</mat-icon>
            <span>About</span>
        </button>

        <button mat-button class="menu-button" (click)="logoutOnClick()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
        </button>

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z12">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>