/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
  width: 100%;
}

.container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-table {
  overflow-y: auto;
  width: 100%;
}

table {
  width: 100%;
}

table td {
  width: 25%;
  padding: 5px;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.mat-row:hover .mat-cell {
  border-color: #673ab7;
}

th.mat-sort-header-sorted {
  color: #673ab7;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.mat-icon {
  vertical-align: middle;
}

.fixed-fab {
  position: fixed !important;
  right: 2%;
  bottom: 3%;
}
