<div>
  <p class="text-center"><img src="/assets/images/logo.png" alt="logo image" width="96px"/></p>
  <h1 class="text-center">ExamGen</h1>
  <div class="text-center">
    <p><i>ExamGen</i> is a project developed by <i>Alessio Tudisco</i> for the Web Programming course of the 2020/2021
      academic year at the University of Catania.
      The project consists of two independent parts: a backend that provides the API of the service and a frontend that
      provides the UI you are using right now.</p>
    <div class="about-logo-showcase" fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column">
      <img src="/assets/images/nodejs_express_logo.png"/>
      <img src="/assets/images/mongodb_logo.png"/>
      <img src="/assets/images/mongoose_logo.png"/>
    </div>
    <p>The backend is developed using modern and flexible technologies: <i>NodeJS</i>, a JavaScript runtime,
      <i>MongoDB</i>,
      a non-relational database based on the concept of documents, <i>Express</i>, a powerful framework for creating
      REST APIs and much more (<i>mongoose, pdfkit, ect</i>...).</p>
    <p>For more technical information, you can visit the <a
      href="https://github.com/LightDestory/ExamGen/tree/master/examgen-api" target="__blank">GitHub repository</a>.</p>
    <div class="about-logo-showcase" fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column">
      <img src="/assets/images/angular_logo.png"/>
      <img src="/assets/images/angular_material_logo.png"/>
    </div>
    <p>The frontend is developed using a modern, intricate, ambiguous, complex (I am crying), framework called Angular.
      I was on the fence about the choice,
      but a colleague threw me into this nightmare.... Now the boat has sailed and there's no turning back. About
      Angular there is not much to say because it is very technical,
      I can add that the UI is based on the concept of "Material Design" offered by the official library.</p>
    <p>For more technical information, you can visit the <a
      href="https://github.com/LightDestory/ExamGen/tree/master/examgen-client" target="__blank">GitHub repository</a>.
    </p>
  </div>
</div>
