<div>
  <h1 class="text-center">Capybara</h1>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <img src="/assets/images/capy.gif" fxFlex.xl="35%" fxFlex.lg="35%" fxFlex.md="45%" fxFlex.sm="90%"/>
  </div>
  <div class="text-center">
    <br/>
    <p>The capybara (Hydrochoerus hydrochaeris) is a giant cavy rodent native to South America. It is the largest living
      rodent.
      Also called capivara (in Brazil), capiguara (in Bolivia), chigüire, chigüiro, or fercho (in Colombia and
      Venezuela), carpincho (in Argentina, Paraguay and Uruguay) and ronsoco (in Peru),
      it is a member of the genus Hydrochoerus, of which the only other extant member is the lesser capybara
      (Hydrochoerus isthmius).
    </p>
    <p>
      Its close relatives include guinea pigs and rock cavies, and it is more distantly related to the agouti, the
      chinchilla, and the coypu. The capybara inhabits savannas and dense forests and lives near bodies of water.
      It is a highly social species and can be found in groups as large as 100 individuals, but usually lives in groups
      of 10–20 individuals.
      The capybara is not a threatened species and it is hunted for its meat and hide and also for grease from its thick
      fatty skin.</p>
    <p>
      The capybara has a heavy, barrel-shaped body and short head, with reddish-brown fur on the upper part of its body
      that turns yellowish-brown underneath.
      Its sweat glands can be found in the surface of the hairy portions of its skin, an unusual trait among rodents.
      The animal lacks down hair, and its guard hair differs little from over hair.</p>
    <p>
      Adult capybaras grow to 106 to 134 cm (3.48 to 4.40 ft) in length, stand 50 to 62 cm (20 to 24 in) tall at the
      withers, and typically weigh 35 to 66 kg (77 to 146 lb), with an average in the Venezuelan llanos of 48.9 kg (108
      lb).
      Females are slightly heavier than males. The top recorded weights are 91 kg (201 lb) for a wild female from Brazil
      and 73.5 kg (162 lb) for a wild male from Uruguay.
      Also, an 81 kg individual was reported in São Paulo in 2001 or 2002. Capybaras have slightly webbed feet and
      vestigial tails. Their hind legs are slightly longer than their forelegs; they have three toes on their rear feet
      and four toes on their front feet.
      Their muzzles are blunt, with nostrils, and the eyes and ears are near the top of their heads.
    </p>
  </div>
</div>
